.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0; 
    background: #ffffff; 
}

.navbar .logo {
    width: 180px;
}

.navbar-menu{
    display: flex;
    gap: 20px;
    list-style: none;
    color:#49557e;
    font-size: 18px;
}

.navbar-right {
    display: flex;
    gap: 40px;
    align-items: center;
}

.navbar button {
    background: transparent;
    font-size: 16px;
    color: #49557e;
    border: 1px solid rgb(5, 119, 49);
    padding: 10px 30px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;
}

.navbar button:hover {
    background-color: #55996f;
}

/*for underline to come when hovered*/
.navbar .active {
    padding-bottom: 2px;
    border-bottom: 2px solid #49557e;
}

.navbar li{
    cursor: pointer;
}

/* Icon styles */
.search-icon,
.cart-icon,
.basket-icon {
    width: 24px;
    height: 24px;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.navbar-search-icon {
    position: relative;
}

.navbar-cart-icon .dot {
    position: absolute;
    min-width: 10px;
    min-height: 10px;
    background-color: rgb(167, 11, 63);
    border-radius: 5px;
    top: -8px;
    right: -8px;
}

.cart-container {
    position: relative;
    display: inline-block;
}

.cart-icon {
    width: 24px;
    height: 24px;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.cart-icon:hover {
    transform: scale(1.1);
}

.dot {
    position: absolute;
    top: -4px;
    right: -4px;
    width: 8px;
    height: 8px;
    background-color: rgb(185, 15, 80);
    border-radius: 50%;
}

@media (max-width:1050px) {
    .navbar .logo{
        width: 140px;
    }

    .navbar-menu{
        gap: 20px;
        font-size: 17px;
    }
    .navbar-right{
        gap: 30px;
    }
    .navbar-right img{
        width:22px;
    }
    .navbar-right button{
        padding: 8px 25px;
    }
}

@media (max-width:900px) {
    .navbar .logo{
        width: 120px;
    }

    .navbar-menu{
        gap: 15px;
        font-size: 16px;
    }
    .navbar-right{
        gap: 20px;
    }
    .navbar-right img{
        width: 20px;
    }
    .navbar-right button{
        padding: 7px 20px;
        font-size: 15px;
    }
}

@media (max-width:750px) {
    .navbar-menu{
        display: none
    }
}